classes/readings/template.html
classes/artifacts/template.html
classes/artifacts/1/MAlonzo/
classes/artifacts/1/talia/MAlonzo/
*.agdai
*~
*.aux
*.glob
*.vo
*.vok
*.vos
*.o
*.cmi
*.cmx
*.cmxs
*.d
*.a
*.cmxa
classes/artifacts/5/*/Makefile.coq
classes/artifacts/5/*/Makefile.coq.conf
classes/artifacts/5/*/src/g_tuto*.ml
